---
layout: default
title: georgedeesmith.com
---

<section id="hero-container">
    <div id="hero-mask"></div>
    <div id="hero-signature">
        <img src="{{ site.baseurl }}images/signature.png" id="signature" src="George Dee Smith" id="hero-signature" />
    </div>
</section>

{% include partials/nav.html %}

<section class="page-section">
    <div class="section">
    About
    </div>
</section>

<section class="page-section">
    <div class="section">
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    {% include partials/lorem.html %}
    </div>
</section>