/* =========================================================================== */
/* Base styles
/* =========================================================================== */
html {
    background-color: #fefff1;
    color: #444;
    font: 14px $font_serif;
}


/* --------------- */
/* Element styles
/* --------------- */
h1 {}
h2 {}
h3 {}
h4 {}
p {
    line-height: 1.6rem;
    margin: 0 0 2rem;
}







