/* --------------- */
/* Bio styles
/* --------------- */

.bio-content {
    margin-bottom: 30px;

    .bio-img {
        box-sizing: border-box;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 100%;
        padding: 5px;
    }
}


@media only screen and (min-width: 480px) {
    .bio-aside {
        width: 230px;
        float: left;
        padding-right: 20px;
        margin-bottom: 0;

        .bio-img {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 640px) {
    .bio-content {
        padding-left: 250px;
        position: relative;

        .bio-aside {
            float: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 230px;
        }
    }
}
