/* --------------- */
/* Contact styles
/* --------------- */

#contact-section {
    padding: 100px 0;
}

.facebook-url {
    text-align: center;

    img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
        vertical-align: middle;
    }
    a {
        font: 18px/25px $font-sans;
        vertical-align: middle;
        color: #aaa;    
        text-decoration: none;    
    }
}

@media only screen and (min-width: 640px) {
    .facebook-url {
        img { height: 50px; width: 50px; }
        a { font: 30px/50px $font-sans; }
    }
}