/* --------------- */
/* Hero styles
/* --------------- */

#hero-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    z-index: 1;
    
    background: #fff url(../images/works/three-nomads.jpg) no-repeat bottom center;
    background-size: cover;

    #hero-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: 3;
    }
}

#signature {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    z-index: 5;
    background-image: url(../images/signature.png);
    background-position: center center;
    background-size: 250px;
    background-repeat: no-repeat;
}