/* --------------- */
/* Hero styles
/* --------------- */

#hero-container {
    height: 800px;
    position: relative;
    background-image: url(../images/works/timberline.jpg);
    background-size: cover;
    background-position: top center;
}
#hero-mask {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
#hero-signature {
    position: absolute;
    z-index: 10;
    top: 30%;
    width: 100%;
    text-align: center;

    #signature {
        width: 80%;
        max-width: 400px;
    }
}