
<section class="page-section">
    <div class="section">
        <h1>About</h1>

        <div class="bio-content">
            <div class="bio-aside">
                <img src="{{ site.baseurl }}images/headshot.jpg" class="bio-img" alt="George Dee Smith" />
            </div>

            <p>
            George D. Smith was born in Cody, Wyoming on January 3, 1944. He attended Cody Public Schools and graduated with honors in 1968. He then entered Montana State University at Bozeman and received his degree in architecture. During his college years Dee became interested in art, in a short time he developed his talent for painting into a professional calling. As a boy, Dee spent his leisure time working with horses or hiking in the beautiful Absaroka wilderness. He has stated his belief that he was born a hundred years too late because the life of the mountain man and cowboy are his deepest yearning. His works are distinctive and versatile, ranging from vivid Native American portrayals to subtle landscapes.
            </p>

            <p>
            Dee studied under Adolph Sporer and Edward T. Greigware, and has been influenced by many other artists. The brilliant colors of Russell, the subtle colors of Koerner, the historical portraits of Remington, and the contemporary feeling of Wyeth are present in his work, and yet, his style is his own. Dee’s works are displayed in prominent collections throughout the West, and have won local and regional professional competitions. George D. Smith paints a dying way of life with feeling and sensitivity.
            </p>
        </div>
    </div>
</section>
