<section class="page-section">
    <div class="section">
        <h1>Locations</h1>
        <p>
        If you would like to view more of George D. Smith's work, you can find it in the following fine art galleries.  
        </p>

        <div class="location">
            <h2 class="location-title">Legacy Gallery</h2>
            <a href="http://www.legacygallery.com" class="location-link">http://www.legacygallery.com</a>
            <div class="location-info">
                Scottsdale, AZ
            </div>
        </div>

        <div class="location">
            <h2 class="location-title">Montana Trails Gallery</h2>
            <a href="http://www.montanatrails.com" class="location-link">http://www.montanatrails.com</a>
            <div class="location-info">
                Bozeman, MT
            </div>
        </div>

        <div class="location">
            <h2 class="location-title">Cody Country Art League</h2>
            <a href="http://www.codycountryartleague.com" class="location-link">http://www.codycountryartleague.com</a>
            <div class="location-info">
                Cody, WY
            </div>
        </div>

        <div class="location">
            <h2 class="location-title">Bighorn Galleries</h2>
            <a href="http://www.bighorngalleries.com" class="location-link">http://www.bighorngalleries.com</a>
            <div class="location-info">
                Cody, WY &nbsp; | &nbsp; Tubec, AZ
            </div>
        </div>

        <div class="location">
            <h2 class="location-title">Seaside Gallery</h2>
            <a href="http://www.theseasidegallery.com" class="location-link">http://www.theseasidegallery.com</a>
            <div class="location-info">
                Pismo Beach, CA
            </div>
        </div>
    </div>
</section>
